.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.TodoItem input {
  accent-color: #6d1c3d;
}

.TodoItem .title_col {
  flex: 1;
  font-size: 14px;
}
.TodoItem .date_col {
  font-size: 14px;
  color: gray;
}
.TodoItem .btn_col button {
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;

  background-color: transparent;
  transition: 0.3s;
}
.TodoItem .btn_col button:hover {
  background-color: transparent;
  color: #6d1c3d;
  font-weight: bold;
}
