.TodoEditor .editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.TodoEditor input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}
.TodoEditor input:focus {
  outline: none;
  border: 1px solid #6d1c3d;
}
.TodoEditor button {
  cursor: pointer;
  width: 40px;
  border: none;
  background-color: #6d1c3d;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
}
